@attribute [Route(Shared.PathInfo.Path.Setting)]
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<div class="h-full w-full overflow-x-auto bg-white">
    <div>設定画面</div>
</div>

@code {
    
}
