@inject IHostEnvironment Env

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />
    <link href="css/global.css" rel="stylesheet" />
    <link href="css/app.min.css" rel="stylesheet" />
    <link href="css/BizLib.css" rel="stylesheet" />
    <link href="images/Biz.png" rel="icon">
    <script src="js/BizKotei.js"></script>
    <HeadOutlet />
</head>

<body class="m-0 p-0">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
