<label class="p-1">@Name</label>
<InputFieldText @bind-InputValue="@Value" OnInput="OnInputChange" MaxLength="@MaxLength" IsEnableClearButton="true" />

@code {
    [Parameter, EditorRequired]
    public string? Name { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public int? MaxLength { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnInputChange(ChangeEventArgs e)
    {
        await ValueChanged.InvokeAsync(Value);
    }
}
