@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<div class="grid-rows-[auto_minmax(0,1fr)] grid h-full w-full min-w-fit bg-white">
    <div>
        ホーム画面
    </div>
</div>

@code {

}
